@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scroll {
  overflow: hidden;
}

@font-face {
  font-family: "Qs_Iranyekan";
  src: url("/assets/fonts/iranyekan/Qs_Iranyekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Qs_Iranyekan";
  src: url("/assets/fonts/iranyekan/Qs_Iranyekan bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Qs_Iranyekan";
  src: url("/assets/fonts/iranyekan/Qs_Iranyekan extrabold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Qs_Iranyekan";
  src: url("/assets/fonts/iranyekan/Qs_Iranyekan medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: theme('fontFamily.sans');
  background-color: #f5f5f0;
  color: #111827;
}

.dark body {
  background-color: #000;
  color: #fff;
}
